aiohttp==3.12.15
fastapi==0.119.1
httpx==0.28.1
jieba==0.42.1
langchain==1.0.1
langchain_community==0.4
langchain_ollama==1.0.0
nest_asyncio==1.6.0
numpy==2.3.4
pandas==2.3.3
python-dotenv==1.1.1
rapidfuzz==3.14.1
sentence_transformers==5.1.1
torch==2.8.0
