numpy==1.26.4
pandas==2.2.3
torch==2.8.0
sentence-transformers==5.1.1
fastapi==0.118.0
uvicorn==0.37.0
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-text-splitters==0.3.11
langchain-ollama==0.3.10
aiohttp==3.12.15
httpx==0.28.1
jieba==0.42.1
nest-asyncio==1.6.0
python-dotenv==1.1.1
rapidfuzz==3.14.1